
/Common/bin
/Common/obj
/EagleEye.Plugins.FeatureExtraction/bin
/EagleEye.Plugins.FeatureExtraction/obj
/GPS/bin
/GPS/obj
/OpenCV/bin
/OpenCV/obj
/OpenCVTest/bin
/OpenCVTest/obj
/Teste1/bin
/Teste1/db
/Teste1/obj
/Teste1/plugins
/Teste1/Common.dll
/Teste1/exiftool.exe
/EagleEye/bin
/EagleEye/obj
/App/
/Common/bin
/Common/obj
/OpenCVTest/bin
/OpenCVTest/obj
.DS_Store
/OpenCVTest/.DS_Store
/OpenCV/obj
/GPS/obj
/ColorDetection/bin/
/ColorDetection/obj/
._*
/DeepZoomGen/bin
/DeepZoomGen/obj
/DeepZoomView/Bin
/DeepZoomView/obj