
/Common/Properties
/Common/bin
/Common/obj
/EagleEye.Plugins.FeatureExtraction/Properties
/EagleEye.Plugins.FeatureExtraction/bin
/EagleEye.Plugins.FeatureExtraction/obj
/GPS/Properties
/GPS/bin
/GPS/obj
/OpenCV/Properties
/OpenCV/bin
/OpenCV/obj
/OpenCVTest/Properties
/OpenCVTest/bin
/OpenCVTest/obj
/Teste1/Properties
/Teste1/bin
/Teste1/db
/Teste1/obj
/Teste1/plugins
/Teste1/Common.dll
/Teste1/exiftool.exe